.ProjectForm {
    color: #F5C667;
    background-color: #F7F2E7;
}

.FormGroup{
    display:flex;
    flex-direction: column;
    gap:10px;
    color:black;
}

.ProjectInput{
    width:50%;
    align-self: center;
    text-align: center;
}

.ProjectBtn{
    width:50;
    align-self:center;
}