.ProjectForm {
    background-color: rgba(232, 197, 163, .5);
    border-radius: 100px;
}

.FormGroup{
    display:flex;
    flex-direction: column;
    gap:10px;
    color:black;
    
}

.ProjectInput{
    border-radius: 20px;
    border:1px solid grey;
    accent-color: transparent;
    background-color: transparent;
    align-self: center;
    text-align: center;
}

.ProjectBtn{
    align-self: center;
    text-align: center;
    background-color: transparent;
    border-radius: 20px;
}
::placeholder{
    color: #3E291D;
}

input[type='checkbox']{
    accent-color: brown;
}