div.container{
  display: flex;
  margin: 0;
  z-index: 2;
}
@keyframes bubbleAnimation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 1;
  }
}

.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  animation: bubbleAnimation 10s linear infinite;

}

.bubble::before,
.bubble::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.bubble::before {
  top: -20px;
  left: 10px;
}

.bubble::after {
  top: 10px;
  left: -20px;
}