.footer {
    color: white;
    background-color: 	#e8c5a3;
    width: 95%; 
    margin: 0 auto; 
    bottom: 0;
    margin: 10px; 
    padding: 10px; 
    display: flex;
    border-radius: 40px;
    z-index: 2;
  }
  
  .footer-div {
    width: 50%;
  }
  
  .footer-div h1 {
    margin: 5%;
  }