.footer{
    color:white;
    background-color: #184D33;
    width:100%;
    left: 0;
    right: 0;
    bottom:0;
    position: fixed;
    height:100;
    display: flex;
}

.footer-div{
    width:50%;
}

.footer-div h1{
    margin:5% ;
}