@keyframes moveUpDown{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-20px);
    }
    100%{
        transform:translateY(0);
    }
}
div.home{
    color: #3E291D;
    background-color: 	rgba(232,197,163,.5);
    width: 85%; 
    border-radius: 40px;
    text-align: center;
    margin: 10%;
    animation:moveUpDown 10s ease-in-out infinite;
}
