nav {
    color:#FFFFFF;
    top: 0;
    left: 0;
    right: 0;
    background-color: #265C3F;
    position: fixed;
    display:flex;
    align-items: center;
  }

.logo{
    max-width: 7%;
    height:auto;
    margin-right:5px;
}
.left-container{
    display:flex;
    align-items: center;
}
.right-container{
    display:flex;
    margin-left: auto;
    padding-right:2%;
    
}
ul{
    display: flex;
    list-style:none;
    justify-content: space-between;
}

h1,h2{
    margin: 0;
    margin-right:25px;
}