@keyframes pickleAnimation {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
  
    50% {
      transform: translateY(-500px);
      opacity: 1;
    }
    100%{
      transform: translateY(-1000px);
      opacity: 0;
    }

  }
  
  .pickle {
    height:10%;
    position: absolute;
    animation: pickleAnimation 10s linear infinite;
    z-index: -2;
  }
  